body {
    font-family: Cambria, Cochin, 'Times New Roman', Times, serif;
    margin: 0 auto;
    border: 1px solid #50595B;
    max-width: 900px;
}
.profile {
    align-items: center;
    background-color: #000; 
    color: #fff;
    display: flex;
    padding: 25px 0px;
    justify-content: left;
}
a{
    color: #fff;
}
img {
    width: 300px;
    border-radius: 50%;
    padding: 2px;
    margin: 5px;
}
.home {
    padding-left: 80px;
    text-align: center;
}
.container {
    display: block;   
}
.container A {
    width: 30%;
    padding: 0 20%px;
}
.container B {
    width: 70%;
    padding: 0 20%;
}